<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>NA2-Generator</title>
		<script type="text/javascript" src="/static/js/swfobject.js"></script>
		<script type="text/javascript" src="/static/js/generator.js"></script>
        <link rel=stylesheet type=text/css href="/static/css/style.css"  />
    </head>
    <body>
        <div id="swf_persos_viewer" class="swf">
            <embed type="application/x-shockwave-flash" id="persos_viewer" name="persos_viewer">
        </div>
        <div class="filters" id="filters">
            
        </div>
    </body>
    <script>
        document.body.onload = initSWFObj();
    </script>
</html>